{% extends 'boards/_base.html' %} 
{% load echarts %} 

{% load staticfiles %}

{% block content %}
<ul class="breadcrumb">
    {% block bar %}{{ block.super }}
    <li class="active">儀表板</li>
    {% endblock bar %}
</ul>


<div class="row">
    <div class="col-xs-6 col-sm-2 sidebar-offcanvas" id="sidebar">
        <div class="list-group">
            <a href="javascript:" class="list-group-item" data-echarts-name="yield">產能</a>
        </div>
    </div>
    <!--/.sidebar-offcanvas-->
    <div class="col-xs-12 col-sm-10">
        <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
        </p>
        <div id="id_echarts_container_yield" style="height: 400px;"></div>
    </div>
    <!--/.col-xs-12.col-sm-9-->
</div>

{% endblock %} 


{% block extra_script %}
<script src="https://cdn.bootcss.com/echarts/3.8.5/echarts.min.js"></script>
<script src="http://echarts.baidu.com/asset/map/js/china.js"></script>
<script src="{% static 'boards/js/load_chart.js' %}"></script>
{% endblock %}