[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alog = "*"
django = "*"
django-echarts = "*"
django-crispy-forms = "*"
"django-bootstrap3" = "*"
djangorestframework = "*"
pyecharts = "==0.4.1"
django-compressor = "*"
aiohttp = "*"
pyserial = "*"
pyserial-asyncio = "*"
click = "*"

[dev-packages]

[requires]
python_version = "3.7"
